<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         backupGlobals="false"
         colors="true"
         bootstrap="Tests/Unit/Bootstrap.php"
>
    <testsuites>
        <testsuite name="Unit Test Suite">
            <directory>Tests/Unit</directory>
        </testsuite>
        <testsuite name="Acceptance Test Suite">
            <directory>Tests/Acceptance</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="junit" target="junit.xml" logIncompleteSkipped="false"/>
    </logging>

    <php>
        <ini name="memory_limit" value="512M"/>
    </php>
</phpunit>
